<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.yxt.dao.SecretKeyHistoryMapper">
  <resultMap id="BaseResultMap" type="com.java.yxt.vo.SecretKeyHistoryVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="key_version" jdbcType="VARCHAR" property="keyVersion" />
    <result column="key_id" jdbcType="VARCHAR" property="keyId" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="key_start_time" jdbcType="TIMESTAMP" property="keyStartTime" />
    <result column="key_end_time" jdbcType="TIMESTAMP" property="keyEndTime" />
  </resultMap>


  <insert id="insert" parameterType="com.java.yxt.vo.SecretKeyHistoryVo" keyProperty="id" useGeneratedKeys="true">
    insert into mgt_key_history (key_version,key_id,secret_key,key_status,key_start_time )
    values ( #{keyVersion,jdbcType=VARCHAR},#{keyId,jdbcType=VARCHAR},#{secretKey,jdbcType=VARCHAR}, 1 ,
    #{keyStartTime,jdbcType=TIMESTAMP})
  </insert>
	


  <update id="update" parameterType="com.java.yxt.vo.SecretKeyHistoryVo">
    update mgt_key_history
    <set>
      <if test="keyEndTime !=null ">
        key_end_time = #{keyEndTime,jdbcType=TIMESTAMP},
      </if>
        key_status = 0
    </set>
      where key_id = #{keyId,jdbcType=VARCHAR}
      and key_status = 1
  </update>


  <select id="select"  parameterType="com.java.yxt.vo.SecretKeyVo" resultMap="BaseResultMap">
    select key_version,secret_key,key_start_time,key_end_time
    from mgt_key_history where 1=1
    and key_id = #{secretKeyVo.id,jdbcType=VARCHAR}
    and key_status = 0
    order by key_start_time asc
  </select>

  <select id="selectAll"  parameterType="com.java.yxt.vo.SecretKeyVo" resultMap="BaseResultMap">
    select key_version,secret_key,key_start_time,key_end_time
    from mgt_key_history where 1=1
    and key_id=#{secretKeyVo.id,jdbcType=VARCHAR}
    and key_status = 0
    order by key_start_time asc
  </select>

</mapper>