<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.yxt.dao.SecretKeyMapper">
  <resultMap id="BaseResultMap" type="com.java.yxt.vo.SecretKeyVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="key_source" jdbcType="SMALLINT" property="keySource" />
    <result column="key_version" jdbcType="VARCHAR" property="keyVersion" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="key_status" jdbcType="SMALLINT" property="keyStatus" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater_id" jdbcType="VARCHAR" property="updaterId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <insert id="insert" parameterType="com.java.yxt.vo.SecretKeyVo" keyProperty="id" useGeneratedKeys="true">
    insert into mgt_secret_key (key_source,key_version,customer_code,secret_key,
      key_status, tenant_id, creater_id, creater_name,create_time )
    values (#{keySource,jdbcType=SMALLINT}, #{keyVersion,jdbcType=VARCHAR},
      #{customerCode,jdbcType=VARCHAR}, #{secretKey,jdbcType=VARCHAR},
      #{keyStatus,jdbcType=SMALLINT},  #{tenantId,jdbcType=VARCHAR},
      #{createrId,jdbcType=VARCHAR},#{createrName,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
	


  <update id="update" parameterType="com.java.yxt.vo.SecretKeyVo">
    update mgt_secret_key
    <set>
      <if test=" keySource !=null ">
        key_source = #{keySource,jdbcType=SMALLINT},
      </if>
      <if test="keyVersion !=null and keyVersion !='' ">
        key_version = #{keyVersion,jdbcType=VARCHAR},
      </if>
      <if test="customerCode !=null and customerCode !=''">
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="secretKey !=null and secretKey !=''">
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="keyStatus !=null">
        key_status = #{keyStatus,jdbcType=SMALLINT},
      </if>
      <if test="updaterId !=null and updaterId !=''">
      updater_id = #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime !=null ">
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
      where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="select"  parameterType="com.java.yxt.vo.SecretKeyVo" resultMap="BaseResultMap">
    select mk.key_source,mk.key_version,mk.customer_code,mc.name as customerName,mk.secret_key,
    mk.key_status, mk.tenant_id, mk.creater_id, mk.creater_name,mk.create_time,mk.updater_id,mk.update_time
    from mgt_secret_key mk join mgt_customer mc where 1=1
    and mk.customer_code = mc.customer_code
    <if test="secretKeyVo.id !=null and secretKeyVo.id !=''">
      and mk.id = #{secretKeyVo.id,jdbcType=VARCHAR}
    </if>
    <if test="secretKeyVo.keySource !=null ">
      and mk.key_source = #{secretKeyVo.keySource,jdbcType=SMALLINT}
    </if>
    <if test="secretKeyVo.keyVersion !=null and secretKeyVo.keyVersion !=''">
      and mk.key_version like concat('%', #{secretKeyVo.keyVersion,jdbcType=VARCHAR},'%')
    </if>
    <if test="secretKeyVo.customerName !=null and secretKeyVo.customerName !=''">
      and mc.`name` like concat('%',#{secretKeyVo.customerName,jdbcType=VARCHAR},'%')
    </if>
    order by mk.create_time desc
  </select>


  <select id="selectAll"  parameterType="com.java.yxt.vo.SecretKeyVo" resultMap="BaseResultMap">
    select mk.key_source,mk.key_version,mk.customer_code,mc.name as customerName,mk.secret_key,
    mk.key_status, mk.tenant_id, mk.creater_id, mk.creater_name,mk.create_time,mk.updater_id,mk.update_time
    from mgt_secret_key mk join mgt_customer mc where 1=1
    and mk.customer_code = mc.customer_code
    <if test="secretKeyVo.id !=null and secretKeyVo.id !=''">
      and mk.id = #{secretKeyVo.id,jdbcType=VARCHAR}
    </if>
    <if test="secretKeyVo.keySource !=null ">
      and mk.key_source = #{secretKeyVo.keySource,jdbcType=SMALLINT}
    </if>
    <if test="secretKeyVo.keyVersion !=null and secretKeyVo.keyVersion !=''">
      and mk.key_version like concat('%', #{secretKeyVo.keyVersion,jdbcType=VARCHAR},'%')
    </if>
    <if test="secretKeyVo.customerName !=null and secretKeyVo.customerName !=''">
      and mc.`name` like concat('%',#{secretKeyVo.customerName,jdbcType=VARCHAR},'%')
    </if>
    order by mk.create_time desc
  </select>

  <delete id="delete" parameterType="com.java.yxt.vo.SecretKeyVo">
    delete from mgt_secret_key
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectByCustomerCode"  parameterType="com.java.yxt.vo.SecretKeyVo" resultMap="BaseResultMap">
    select key_source,key_version,customer_code,secret_key,
    key_status, tenant_id, creater_id, creater_name,create_time,updater_id,update_time
    from mgt_secret_key  where 1=1
    and customer_code = #{secretKeyVo.customerCode,jdbcType=VARCHAR}
  </select>

  <select id="selectValidByCustomerCode"  parameterType="com.java.yxt.vo.SecretKeyVo" resultMap="BaseResultMap">
    select key_source,key_version,customer_code,secret_key,
    key_status, tenant_id, creater_id, creater_name,create_time,updater_id,update_time
    from mgt_secret_key  where 1=1
    and customer_code = #{secretKeyVo.customerCode,jdbcType=VARCHAR}
    and key_status = 1
  </select>
</mapper>